In [1]:
2+3

5

In [2]:
4*5

20.0

In [3]:
5-1

4

In [4]:
40/2

20.0

In [5]:
2**3

8

In [6]:
"Ola"

'Ola'

In [7]:
"Hi there " + "Ola"

'Hi there Ola'

In [8]:
"Ola" * 3

'OlaOlaOla'

In [10]:
"Runnin' down 'the hill"

"Runnin' down 'the hill"

In [11]:
"Ola".upper()

'OLA'

In [12]:
len("Ola")

3

In [13]:
len(304023)

TypeError: object of type 'int' has no len()

In [14]:
len(str(304023))

6

In [15]:
name = "Ola"
name

'Ola'

In [16]:
a = 4
b = 6
a * b

24

In [17]:
city = "Tokyo"
ctiy

NameError: name 'ctiy' is not defined

In [19]:
name = 'Maria'
name

'Maria'

In [20]:
print(name)

Maria

In [21]:
[]

[]

In [22]:
lottery = [3, 42, 12, 19, 30, 59]

In [23]:
len(lottery)

6

In [25]:
lottery.sort()
print(lottery)

[3, 12, 19, 30, 42, 59]

In [26]:
lottery.reverse()
print(lottery)

[59, 42, 30, 19, 12, 3]

In [27]:
lottery.append(199)
print(lottery)

[59, 42, 30, 19, 12, 3, 199]

In [28]:
print(lottery[0])
print(lottery[1])

59
42

In [32]:
print(lottery)
print(lottery[0])

[30, 19, 12, 3, 199]
30

In [33]:
lottery.pop(0)

30

In [34]:
print(lottery)

[19, 12, 3, 199]

In [35]:
{}

{}

In [36]:
participant = {'name': 'Ola', 'country': 'Poland', 'favorite_numbers': [7, 42, 92]}

In [37]:
print(participant['name'])

Ola

In [38]:
participant['age']

KeyError: 'age'

In [39]:
participant['favorite_language'] = 'Python'

In [40]:
len(participant)

4

In [41]:
participant.pop('favorite_numbers')
[7, 42, 92]

[7, 42, 92]

In [42]:
participant
{'country': 'Poland', 'favorite_language': 'Python', 'name': 'Ola'}

{'country': 'Poland', 'favorite_language': 'Python', 'name': 'Ola'}

In [43]:
participant['country'] = 'Germany'

In [44]:
participant
{'country': 'Germany', 'favorite_language': 'Python', 'name': 'Ola'}

{'country': 'Germany', 'favorite_language': 'Python', 'name': 'Ola'}

In [45]:
5 > 2

True

In [46]:
3 < 1

False

In [47]:
5 > 2 * 2

True

In [48]:
5 != 2

True

In [49]:
1 == 1

True

In [50]:
6 >= 12 / 2

True

In [51]:
3 <= 2

False

In [52]:
6 > 2 and 2 < 3

True

In [53]:
3 > 2 and 2 < 1

False

In [54]:
3 > 2 or 2 < 1

True

In [55]:
1 > 'django'

TypeError: '>' not supported between instances of 'int' and 'str'

In [56]:
a = True
a

True

In [57]:
a = 2 > 5
a

False

In [58]:
if 3 > 2:

SyntaxError: unexpected EOF while parsing (<ipython-input-58-edb2a276ed63>, line 1)

In [59]:
if 3 > 2:
    print('It works!')

It works!

In [60]:
if 5 > 2:
    print('5 is indeed greater than 2')
else:
    print('5 is not greater than 2')

5 is indeed greater than 2

In [61]:
name = 'Sonja'
if name == 'Ola':
    print('Hey Ola!')
elif name == 'Sonja':
    print('Hey Sonja!')
else:
    print('Hey anonymous!')

Hey Sonja!

In [62]:
volume = 57
if volume < 20:
    print("It's kinda quiet.")
elif 20 <= volume < 40:
    print("It's nice for background music")
elif 40 <= volume < 60:
    print("Perfect, I can hear all the details")
elif 60 <= volume < 80:
    print("Nice for parties")
elif 80 <= volume < 100:
    print("A bit loud!")
else:
    print("My ears are hurting! :(")

Perfect, I can hear all the details

In [63]:
if volume < 20 or volume > 80:
    volume = 50
    print("That's better!")

In [64]:
def hi():
    print('Hi there!')
    print('How are you?')

hi()

Hi there!
How are you?

In [65]:
def hi(name):
    if name == 'Ola':
        print('Hi Ola!')
    elif name == 'Sonja':
        print('Hi Sonja!')
    else:
        print('Hi anonymous!')

hi()

TypeError: hi() missing 1 required positional argument: 'name'

In [66]:
hi('Ola')

Hi Ola!

In [67]:
hi("Sonja")

Hi Sonja!

In [68]:
hi("Sa")

Hi anonymous!

In [72]:
def hi(name):
    print('Hi ' + name + '!')

girls = ['Rachel', 'Monica', 'Phoebe', 'Ola', 'You']
for name in girls:
    hi(name)
    print('Next girl')

Hi Rachel!
Next girl
Hi Monica!
Next girl
Hi Phoebe!
Next girl
Hi Ola!
Next girl
Hi You!
Next girl

In [73]:
for i in range(1, 6):
    print(i)

1
2
3
4
5