In [4]:
2 + 3

5

In [5]:
4 * 5

20

In [6]:
2 ** 3

8

In [7]:
5 - 1

4

In [8]:
40 / 2

20.0

In [9]:
"Ola"

'Ola'

In [10]:
"Hithere " + "Ola"

'Hithere Ola'

In [11]:
"Ola" * 3

'OlaOlaOla'

In [12]:
"Runnin' down the hill"

"Runnin' down the hill"

In [13]:
'Runnin\' down the hill'

"Runnin' down the hill"

In [14]:
"Ola".upper()

'OLA'

In [15]:
len("Ola")

3

In [17]:
len(str(304023))

6

In [18]:
name = "Ola"
name

'Ola'

In [19]:
name = "Sonja"
name

'Sonja'

In [20]:
len(name)

5

In [21]:
a = 4
b = 6
a * b

24

In [22]:
city = "Tokyo"
ctiy

NameError: name 'ctiy' is not defined

In [24]:
name = 'Maria'
name

'Maria'

In [23]:
print(name)

Sonja

In [ ]:
[]

In [26]:
lottery = [3, 42, 12, 19, 30, 59]

In [27]:
len(lottery)

6

In [28]:
lottery.sort()
print(lottery)

[3, 12, 19, 30, 42, 59]

In [29]:
lottery.reverse()
print(lottery)

[59, 42, 30, 19, 12, 3]

In [30]:
lottery.append(199)
print(lottery)

[59, 42, 30, 19, 12, 3, 199]

In [33]:
print(lottery[0])
print(lottery[1])

59
42

In [35]:
print(lottery)
print(lottery[0])
lottery.pop(0)
print(lottery)

[42, 30, 19, 12, 3, 199]
42
[30, 19, 12, 3, 199]

In [36]:
{}

{}

In [39]:
participant = {'name': 'Ola', 'country': 'Poland', 'favorite_numbers': [7, 42, 92]}

In [40]:
(participant['name'])
participant['age']

KeyError: 'age'

In [41]:
participant['favorite_language'] = 'Python'
len(participant)

4

In [42]:
participant.pop('favorite_numbers')
participant

{'name': 'Ola', 'country': 'Poland', 'favorite_language': 'Python'}

In [43]:
participant['country'] = 'Germany'
participant

{'name': 'Ola', 'country': 'Germany', 'favorite_language': 'Python'}

In [44]:
5 > 2

True

In [45]:
3 < 1

False

In [46]:
5 > 2 * 2

True

In [47]:
1 == 1

True

In [48]:
5 != 2

True

In [49]:
6 >= 12 / 2

True

In [50]:
3 <= 2

False

In [51]:
6 > 2 and 2 < 3

True

In [52]:
3 > 2 and 2 < 1

False

In [55]:
3 > 2 or 2 < 1

True

In [58]:
1 > 'django'

TypeError: '>' not supported between instances of 'int' and 'str'

In [59]:
a = True
a

True

In [60]:
a = 2 > 5
a

False

In [61]:
True and True

True

In [62]:
False and True

False

In [63]:
True or 1 == 1

True

In [66]:
1 != 2

True

In [68]:
if3 > 2:

SyntaxError: invalid syntax (<ipython-input-68-e4c8affa9efb>, line 1)

In [72]:
if 3 > 2:
    print('It works!')

It works!

In [75]:
if 5 > 2:
    print('5 is indeed greater than 2')
else:
    print('5 is not greater than 2')

5 is indeed greater than 2

In [78]:
name = 'Sonja'
if name == 'Ola':
    print('Hey Ola!')
elif name == 'Sonja':
    print('Hey Sonja!')
else:
    print('Hey anonymous!')

Hey Sonja!

In [80]:
volume = 57
if volume < 20:
    print("It's kinda quiet.")
elif 20 <= volume < 40:
    print("It's nice for background music")
elif 40 <= volume < 60:
    print("Perfect, I can hear all the details")
elif 60 <= volume < 80:
    print("Nice for parties")
elif 80 <= volume < 100:
    print("A bit loud!")
else:
    print("My ears are hurting! :(")

Perfect, I can hear all the details

In [82]:
# Change the volume if it's too loud or too quiet
if volume < 20 or volume > 80:
    volume = 50
    print("That'sbetter!")

In [85]:
def hi():
    print('Hi there!')
    print('How are you?')

hi()

Hi there!
How are you?

In [88]:
def hi(name):
    if name == 'Ola':
        print('Hi Ola!')
    elif name == 'Sonja':
        print('Hi Sonja!')
    else:
        print('Hi anonymous!')

hi("Ola")

Hi Ola!

In [90]:
def hi(name):
    print('Hi ' + name + '!')
hi("Rachel")

Hi Rachel!

In [92]:
def hi(name):
    print('Hi ' + name + '!')

girls = ['Rachel', 'Monica', 'Phoebe', 'Ola', 'You']
for name in girls:
    hi(name)
    print('Next girl')

Hi Rachel!
Next girl
Hi Monica!
Next girl
Hi Phoebe!
Next girl
Hi Ola!
Next girl
Hi You!
Next girl

In [94]:
for i in range(1, 6):
    print(i)

1
2
3
4
5